 @font-face {
     font-family: Rogeu;
     src: url('../fonts/Rogeu.otf');
 }
$color1 : #fff;


body {
    background-image: url('../images/background.png');
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    border: 5px solid red;
    width: 1360px;
    margin: auto;
    //height: 100vh;
    overflow-y: hidden;
    //overflow-x: visible ;
    display: flex;
    flex-wrap: nowrap;
    justify-content: left;
}

.test {
    color: aqua;
    font-family: Rogeu, Arial, sans-serif;
}
