 @font-face {
     font-family: Rogeu;
     src: url('../fonts/Rogeu.otf');
 }


body {
    background-image: url('../images/background.png');
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    max-width: 1366px ;
    overflow-y: hidden;
    overflow-x: auto;
    height: 95vh;
}

.div2{
    position: absolute;
    left: -75vw;
    top: -75vh
}

.show{
}

.wrapper{
    border: 5px solid red;
    display: flex;
    flex-wrap: nowrap;
    margin: auto;
    overflow-x: auto;
    overflow-y: hidden;
    width: 1000vw;
    height: 95vh;
}

.wrapper>div {
    width: 95vw;
    height: 95vh;
    border: 2px solid green;
    padding: 0.5rem;
    margin: 0 1rem;
    display: flex;
    flex-direction: column;
}

.wrapper>div:nth-child(odd) {
    background-color: powderblue;
}
.wrapper>div:nth-child(even) {
     color: green; 
    }

.test {
    color: aqua;
    font-family: Rogeu, Arial, sans-serif;
}
