 @font-face {
     font-family: Rogeu;
     src: url('../fonts/Rogeu.otf');
 }
.red {
    float: left;
    width: 80vh;
    height: 80vh;
    background-color: antiquewhite;
}


body {
    background-image: url('../images/background.png');
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow-y: hidden;
    overflow-x: auto;   
}

.wrapper{
    float: left;
    overflow-y: auto;
    overflow-x: hidden;
    width: 95vh;
    transform: rotate(-90deg) translateY(-94vh);
    transform-origin: right top;
    
}

.wrapper>div {
   
    border: 2px red solid;
    color: aquamarine;
    width: 94vh;
    height: 94vh;
    transform: rotate(90deg);
    //transform-origin: right top;
}

.test {
    color: aqua;
    font-family: Rogeu, Arial, sans-serif;
}
